@import './reset.css';
@import './nprogress.css';
@import './transition.css';
@import 'base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#app {
  height: 100%;
}

html {
  overflow-x: hidden;
}

html.grayscale {
  filter: grayscale(100%);
}
